* {
  font-family: Roboto, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header,
.footer {
  background-color: #1f2937;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.top-header {
  display: flex;
  width: 1025px;
  align-items: center;
  gap: 20px;
}

.top-header img {
  margin-right: auto;
  border-radius: 100px;
}

.hero {
  width: 1025px;
  display: flex;
  margin: 100px 0px;
  gap: 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-text p {
  margin: 0;
}

#main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header li,
.header p,
.elements p,
.footer p {
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
}

#Logo,
#text1 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

img {
  flex: none;
  background-color: gray;
}

button {
  background-color: #3882f6;
  border-radius: 10px;
  border-width: 0;
  padding: 10px 40px;
  align-self: flex-start;
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.items {
  display: flex;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 925px;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  width: 230px;
  align-items: center;
}

.item img {
  width: 170px;
  height: 170px;
  border: 5px solid #3882f6;
  border-radius: 15px;
  background-color: inherit;
}

.quote-container {
  width: 100vw;
  height: 450px;
  display: flex;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: center;
}
.sub-container {
  width: 925px;
  display: flex;
  flex-direction: column;
}
.quote-container p {
  margin: 0;
  align-self: flex-end;
  font-size: 25px;
  font-weight: bold;
}
#quote {
  margin: 0;
  font-size: 36px;
  font-style: italic;
  color: #434b57;
  font-weight: 100;
}

.subscription {
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription .elements {
  background-color: #3882f6;
  border-radius: 5px;
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 35px;
}

.subscription .elements button {
  align-self: inherit;
  border: 2px solid white;
  padding: 7px 30px;
  border-radius: 7px;
}

.subscription p {
  margin: 0;
  padding: 0;
}

.subscription-text p {
  padding: 1px;
}

.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
}
